<div class="row" >
    <p>
        <mat-card-title><h1>Create new Card</h1></mat-card-title>
    </p>
    <form [formGroup]="formGroup" (ngSubmit)="addAccount()">
        <p>
            <mat-form-field >
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" placeholder="e.g 1235" required>
               
            </mat-form-field>
        </p>
        <p>
            <mat-form-field >
                <mat-label>iban</mat-label>
                <input matInput formControlName="iban" placeholder="e.g 1235" required>
                
            </mat-form-field>
        </p> 
        <p>
            <mat-form-field>
                <mat-label>bicSwift</mat-label>
                <input matInput formControlName="bicSwift" placeholder="e.g 1235" required>
               
            </mat-form-field>
        </p> 
        <p>
            <mat-form-field >
                <mat-label>clientId</mat-label>
                <input matInput formControlName="clientId" placeholder="e.g 1235" required>
                
            </mat-form-field>
        </p> 
        <div fxLayout="row" fxLayoutAlign="space-around space-around">
            <div>
                <button type="submit" mat-flat-button color="primary" mat-button>Add new account</button>
            </div>
           
        </div> 
    </form> 
</div>