<div class="login-form" fxFlex="40%" fxLayout="column" >
    <mat-card>       
        <p>
            <mat-card-title><h1>Log In</h1></mat-card-title>
        </p>
        <!-- <h3 style="color:#FF4081">{{validationError}}</h3> -->
        <form [formGroup]="formGroup" (ngSubmit)="login()">
            <p>
                <mat-form-field fxFlex="80%">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="e.g 1235" required>
                    <div *ngIf="isSubmitted && formControls.username.errors?.required">This field is required</div>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field fxFlex="80%">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="e.g 1235" required>
                    <div *ngIf="isSubmitted && formControls.password.errors?.required">This field is required</div>
                </mat-form-field>
            </p> 
            <div fxLayout="row" fxLayoutAlign="space-around space-around">
                <div>
                    <button type="submit" mat-flat-button color="primary" mat-button>Login</button>
                </div>
               
            </div> 
        </form> 
    </mat-card> 
</div>